@{
	ViewBag.Title = "Sobre";
}
<div class="container">
	<div class="text-center">
		<h2>@ViewBag.Title.</h2>
		<h3>@ViewBag.Message</h3>
	</div>
	<br />

	<div style="">

		<div class="card" style="width: 18rem;margin:auto">
			<div class="card-header">
		
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">prontos para trazer o melhor atendimento</li>
				<li class="list-group-item">O melhor serviço</li>
				<li class="list-group-item">Tudo em apenas um unico lugar</li>
				<li class="list-group-item">Seu animal em boas mãos</li>
			</ul>
		</div>
	</div>
</div>
