@{
	ViewBag.Title = "Contato";
}
<div class="container" style="margin-bottom:150px;">
	<div class="text-center">
		<h2>@ViewBag.Title.</h2>
		<h3>@ViewBag.Message</h3>
	</div>

	 <address>
	 	R. Borges Lagoa, 1179 - Vila Clementino,<br /> São Paulo - SP, 04038-003<br />

	 	<abbr title="Phone">P:</abbr>
	 	425.555.0100
	 </address>

	<address>
		<strong>Suporte:</strong>   <a href="mailto:vitornicacio10@hotmail.com">Vítor Nicácio</a><br />
		<strong>Marketing:</strong> <a href="mailto:vitornicacio10@hotmail.com">Analista de Sistemas</a>
	</address>
</div>